.container{
width:100%;
}

body{
margin:0px;
}

.col-12{
width:100%;
}

.col-11{
width:91.67%;
}
.col-10{
width:83.33%;
}
.col-9{
width:75%;
}
.col-8{
width:66.67%;
}
.col-7{
width:58.33%;
}
.col-6{
width:50%;
}
.col-5{
width:41.67%;
}
.col-4{
width:33.33%;
}
.col-3{
width:24.99%;
}
.col-2{
width:16.67%;
}
.col-1{
width:8.33%;
}
.row{
	margin-left:-15px;
	margin-right:-15px;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.co-10,.col-11,.col-12
{
	float:left
}

.container{
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;
}

.container{
	max-width:100%;
}

.margin{
	margin-left:200px;
}
.bg{
	background-color:black;
	padding-top:10px;
	padding-bottom:10px;
}

.h2
{
	font-family:algrian;
	color:white;
	line-height:90px;
	background-color:red;
	font-weight:30px;
	text-align:left;
	padding:5px;
}
.padding{
	color:white;
	text-align:center;
}






